html{
  height: 100%;
}
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}
.navbar h1{
  color: #0A306C;
  font-size: 45px;
  font-weight: 700;
}
.container{
  margin: 30px 0;
}
.policy-container{
  margin: 30px 0 80px 0;
}
.policy-container h1{
  color: #0A306C;
  font-size: 45px;
  font-weight: 700;
}
.policy-container h2{
  color: #0A306C;
  font-size: 24px;
  font-weight: 700;
}
.policy-container p{
  color: #0A306C;
  font-size: 16px;
}
.footer-heading p{
  color: #FFFFFF;
}
ul li{
  list-style: none;
  color: #0A306C;
  font-size: 16px;
}
.contact-container{
  margin: 0 57.5px;
}
.envelope-section, .location-section, .phone-section{
  align-items: center;
}
.envelope-section p, .location-section p, .phone-section p{
  margin-bottom: 0;
}